@import "normalize.css";

$main_font: 'Poppins', sans-serif;
$font_weight: 400;
@mixin max-screen($res) {
  @media screen and (max-width: $res) {
    @content;
  }
}
.row a {
  display: inline-block;
  text-decoration: none;
}

.row img {
  display: block;
}

header {
  .navbar-light {
    .navbar-nav {
      .nav-item {
        transition: 0.3s;
        margin-left: 32px;

        .nav-link {
          font-family: $main_font;
          font-style: normal;
          font-weight: 400;
          font-size: 15px;
          line-height: 24px;
          color: #1B1A1A;
          padding: 0;
        }

        &:hover {
          .nav-link {
            color: gray;
            transition: 0.5s;
          }
        }

        &:last-of-type {
          background: #1B1A1A;
          border-radius: 14px;
          padding: 11px 20px;
          &:hover {
            .nav-link {
              color: gray;
              transition: 0.5s;
            }
          }

          .nav-link {
            font-size: 1rem;
            color: white;
          }
        }
      }
    }
  }
}

.main_banner {
  background-color: #ECE7E4;

  .container-fluid {
    .justify-content-end {
      .col-12.col-md-5 {
        margin: auto 0;

        h4 {
          font-family: $main_font;
          font-style: normal;
          font-weight: $font_weight;
          font-size: 14px;
          line-height: 20px;
          letter-spacing: 2px;
          text-transform: uppercase;
          color: #645C55;
          margin-bottom: 20px;
        }

        h1 {
          font-family: $main_font;
          font-style: normal;
          font-weight: $font_weight;
          font-size: 64px;
          line-height: 70px;
          color: #1B1A1A;
          margin-bottom: 18px;
          max-width: 417px;
          @include max-screen(1024px) {
            font-size: 55px;
          }
          @include max-screen(992px) {
            font-size: 45px;
          }

        }

        p {
          max-width: 509px;
          font-family: $main_font;
          font-style: normal;
          font-weight: $font_weight;
          font-size: 16px;
          line-height: 24px;
          color: #403E3B;
          margin-bottom: 41px;

        }

        a {
          font-family: $main_font;
          font-style: normal;
          font-weight: $font_weight;
          font-size: 16px;
          line-height: 24px;
          letter-spacing: 0.4px;
          color: #1B1A1A;
          padding-left: 20px;
          @media screen and (max-width: 767px) {
            padding-left: 0;
          }


          &:hover {
            color: gray;
            transition: 0.5s;
          }
        }

      }
    }
  }
}

.our_firm {
  padding: 100px 0 128px;
  @media screen and (max-width: 767px) {
    padding: 50px 0 64px;
  }
  .row {
    h3 {
      font-family: $main_font;
      font-style: normal;
      font-weight: $font_weight;
      font-size: 32px;
      line-height: 38px;
      color: #403E3B;
    }

    p {
      font-family: $main_font;
      font-style: normal;
      font-weight: $font_weight;
      font-size: 16px;
      line-height: 24px;
      color: #403E3B;
      margin-bottom: 10px;

      &:last-of-type {
        margin-bottom: 18px;
      }
    }
    .d-flex{
      @media screen and (max-width: 767px) {
        flex-direction: column;
        align-items: center;
      }
    }
    .rounded-circle {
      margin-right: 30px;
      @media screen and (max-width: 767px) {
        margin-right: 0;
      }

    }
    .descriptions {
      font-family: $main_font;
      font-style: normal;
      font-weight: $font_weight;
      font-size: 17px;
      line-height: 26px;
      color: #1B1A1A;
      @media screen and (max-width: 767px) {
        text-align: center;
      }
      span {
        font-family: $main_font;
        font-style: normal;
        font-weight: $font_weight;
        font-size: 14px;
        line-height: 14px;
        color: #645C55;
      }
    }
  }
}

.Reeding_House {
  background: url("../images/cool_image.jpg");
  background-size: cover;
  min-height: 600px;

  h4 {
    font-family: $main_font;
    font-style: normal;
    font-weight: $font_weight;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #403E3B;
    margin-bottom: 0;
  }

  p {
    font-family: $main_font;
    font-style: normal;
    font-weight: $font_weight;
    font-size: 16px;
    line-height: 24px;
    color: #645C55;
  }

  &.marble_staircase {
    background-image: url("../images/IMAGE2.jpg");
  }

  &.marble_staircase1 {
    background-image: url("../images/IMAGE3.jpg");
    .col-12.col-md-4{
      margin-left: 45px;
    }
  }

  @include max-screen(768px) {
    background-position: -650px;
  }

  .row {
    min-height: 600px;
    .col-12.col-md-4{
      max-width: 285px;
      margin-right: 45px;
      @include max-screen(767px) {
        margin-right: 0;
        margin-left: 0;
      }
    }
  }
}

.how_we_do {
  padding: 100px 0 110px;
  @media screen and (max-width: 767px) {
    padding: 50px 0 55px;
  }
  .row {
    div:first-child {
      h4 {
        font-family: $main_font;
        font-style: normal;
        font-weight: $font_weight;
        font-size: 14px;
        line-height: 20px;
        text-align: center;
        letter-spacing: 2px;
        text-transform: uppercase;
        color: #645C55;
        margin-bottom: 13px;
      }

      h2 {
        font-family: $main_font;
        font-style: normal;
        font-weight: $font_weight;
        font-size: 39px;
        line-height: 42px;
        text-align: center;
        color: #1B1A1A;
        margin-bottom: 47px;
      }
    }

    .col-12.col-md-4 {
      img {
        margin-bottom: 15px;
      }

      h5 {
        font-family: $main_font;
        font-style: normal;
        font-weight: $font_weight;
        font-size: 18px;
        line-height: 26px;
        text-align: center;
        color: #403E3B;
        margin-bottom: 10px;
      }

      p {
        font-family: $main_font;
        font-style: normal;
        font-weight: $font_weight;
        font-size: 15px;
        line-height: 24px;
        text-align: center;
        color: #645C55;
        max-width: 294px;
        margin: 0 auto;
      }
    }
  }
}

.priorClients {
  background: #403E3B;
  padding: 100px 0;
  @media screen and (max-width: 767px) {
    padding: 50px 0;
  }
  .col-12.col-md-6 {
    h5 {
      font-family: $main_font;
      font-style: normal;
      font-weight: $font_weight;
      font-size: 14px;
      line-height: 20px;
      letter-spacing: 2px;
      text-transform: uppercase;
      color: #ECE7E4;
      margin-bottom: 0;
    }

    h3 {
      font-family: $main_font;
      font-style: normal;
      font-weight: $font_weight;
      font-size: 32px;
      line-height: 38px;
      color: #FFFFFF;
    }

    p {
      font-family: $main_font;
      font-style: normal;
      font-weight: $font_weight;
      font-size: 15px;
      line-height: 24px;
      color: #ECE7E4;
      max-width: 451px;
    }
  }

  .col-12.col-md-4 {
    .d-flex.justify-content-between:first-child {
      margin-bottom: 96px;
    }
  }
}

.Featured_projects {
  padding: 113px 0 111px;
  @media screen and (max-width: 767px) {
    padding: 55px 0;
  }
  .row {
    &:last-of-type {
      div{
        margin-bottom: 15px;
        display: block;
        img{
          width: 100%;
        }
        &:nth-child(3){
          margin-bottom: 53px;
        }
        &:last-of-type{
          text-align: center;
          a {
            font-family: $main_font;
            font-style: normal;
            font-weight: $font_weight;
            font-size: 16px;
            line-height: 24px;
            letter-spacing: 0.4px;
            color: #1B1A1A;
            &:hover {
              color: gray;
              transition: 0.5s;
            }
          }
        }
      }
    }
    h4 {
      font-family: $main_font;
      font-style: normal;
      font-weight: $font_weight;
      font-size: 39px;
      line-height: 42px;
      color: #1B1A1A;
      margin-bottom: 15px;
    }

    h5 {
      font-family: $main_font;
      font-style: normal;
      font-weight: $font_weight;
      font-size: 24px;
      line-height: 30px;
      color: #645C55;
      max-width: 581px;
      margin-bottom: 44px;
    }
  }
}

.meet_Team {
  padding: 96px 0 128px;
  @media screen and (max-width: 767px) {
    padding: 50px 0 64px;
  }
  .container {
    .row {
      .col-12.col-md-4 {
        .d-flex{
          @media screen and (max-width: 767px) {
            flex-direction: column;
            align-items: center;
            margin-bottom: 15px;
          }
        }
        .rounded-circle {
          margin-right: 30px;
          @media screen and (max-width: 767px) {
            margin-right: 0;
          }

        }

        .descriptions {
          font-family: $main_font;
          font-style: normal;
          font-weight: $font_weight;
          font-size: 17px;
          line-height: 26px;
          color: #1B1A1A;
          @media screen and (max-width: 767px) {
            text-align: center;
          }

          span {
            font-family: $main_font;
            font-style: normal;
            font-weight: $font_weight;
            font-size: 14px;
            line-height: 14px;
            color: #645C55;
          }
        }

        h4 {
          font-family: $main_font;
          font-style: normal;
          font-weight: $font_weight;
          font-size: 32px;
          line-height: 38px;
          color: #403E3B;
          margin-bottom: 14px;
        }

        p {
          font-family: $main_font;
          font-style: normal;
          font-weight: $font_weight;
          font-size: 15px;
          line-height: 24px;
          color: #645C55;
          max-width: 358px;
          margin-bottom: 41px;
        }

        a {
          font-family: $main_font;
          font-style: normal;
          font-weight: $font_weight;
          font-size: 16px;
          line-height: 24px;
          letter-spacing: 0.4px;
          color: #1B1A1A;
          padding-left: 20px;
          @include max-screen(767px) {
            padding-left: 0;
            margin-bottom: 50px;
          }

          &:hover {
            color: gray;
            transition: 0.5s;
          }

        }
      }
    }
  }
}

.getInTouch {
  background: #CEC4BC;
  padding: 100px 0 117px;
  @media screen and (max-width: 767px) {
    padding: 50px 0 60px;
  }
  .container {
    .row {
      .col-12.col-md-6 {
        h5 {
          font-family: $main_font;
          font-style: normal;
          font-weight: $font_weight;
          font-size: 14px;
          line-height: 20px;
          letter-spacing: 2px;
          text-transform: uppercase;
          color: #645C55;
          margin-bottom: 0;
        }

        h4 {
          font-family: $main_font;
          font-style: normal;
          font-weight: $font_weight;
          font-size: 40px;
          line-height: 42px;
          color: #1B1A1A;
          max-width: 569px;
        }

        a {
          font-family: $main_font;
          font-style: normal;
          font-weight: $font_weight;
          font-size: 16px;
          line-height: 24px;
          letter-spacing: 0.4px;
          color: #1B1A1A;

          &:hover {
            color: gray;
            transition: 0.5s;
          }
        }
      }
    }
  }
}

.footer {
  padding: 62px 0 60px;
  .container {
    .row {
      .col-12.col-md-6 {
        a {
          margin-bottom: 20px;

          &:hover {
            color: gray;
            transition: 0.5s;
          }
        }

        p {
          font-family: $main_font;
          font-style: normal;
          font-weight: $font_weight;
          font-size: 14px;
          line-height: 20px;
          color: #645C55;
        }

        &:last-of-type {
          a {
            margin-right: 25px;

            &:last-of-type {
              margin: 0
            }
          }
        }
      }
    }
  }
}


